@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

:root {
    --black: hwb(0 0% 98%);
    --red: #ff0000;
    --gradient: linear-gradient(90deg, var(--black), var(--red));
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s ease-out;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    height: 100vh;
    display: flex;
    font: 5vh Lora;
    padding: 3rem 7%;
    margin: 0;
    flex-direction: column;
    background-color: #000000;
}

section {
    padding: 2rem 7%;
}

#navbar a {
    color: rgb(255, 255, 255);
    transition: all 0.3s;

    &:hover {
        color: rgb(255, 0, 0);
        text-shadow: 0 0 100px #333;
    }
}

canvas {
    position: fixed;
    z-index: -1;
}

.container {
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}





.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: .5rem;
    background: #ff000023;
    color: #fa0101;
    cursor: pointer;
    font-size: 1.7rem;
    box-shadow: whitesmoke;
}

.btn:hover {
    background: var(--gradient);
    color: white;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 7%;
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
    z-index: 1;
}


header .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: #333;
}

.container .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
    overflow: hidden;
    justify-content: center;
}

#image_container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container .main img {
    max-width: 100%;
    height: auto;
}


.scroll {
    white-space: nowrap;
    margin: 0 2em;
}

.scroll div {
    display: flex;
    gap: 2em;
}

.scroll p {
    display: flex;
    gap: 1em;
}

#scrolling_text {
    cursor: pointer;
    position: absolute;
    top: 40%;
    color: rgba(255, 255, 255, 0);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-text-stroke: 2px #fff;
    font-family: 'Phudu', cursive;
    font-size: 70px;
    font-weight: 1000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* On hover texts */

#scrolling_text .texts:hover {
    color: #ffffff;
    transition: 0.5s;
    font-size: 130%;
}

/*Scrooling effect*/

.righttoleft {
    animation: righttoleft 20s linear infinite;
}

@keyframes righttoleft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-80%);
    }
}

.lefttoright {
    animation: lefttoright 20s linear infinite;
}

@keyframes lefttoright {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}






/* social cards css 

.solialcards {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    max-width: 1000px;
}

.card p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #f8f7f7;
}

.solialcards .card {
    width: 200px;
    height: 200px;
    background: rgba(7, 0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.solialcards .background {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
}

.solialcards .logo {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-size: 1rem;
    font-weight: 500;
    color: #1e1e1e;
}

.solialcards .logo .logo-svg {
    fill: #1e1e1e;
    width: 30px;
    height: 30px;
}

.solialcards .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.solialcards .icon .svg {
    fill: #1e1e1ec5;
    width: 100%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.solialcards .box {
    position: absolute;
    padding: 10px;
    text-align: right;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.389);
    border-top: 2px solid white;
    border-right: 1px solid white;
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
}

.solialcards .box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.solialcards .box:hover .svg {
    fill: white;
}

.solialcards .box1 {
    width: 70%;
    height: 70%;
    bottom: -50%;
    left: -50%;
}

.solialcards .box1::before {
    background: radial-gradient(circle at 30% 107%, #fd9a97 0%, #cc7d3d 30%, #ff53d4 60%, #ab51bd 90%);
}

.solialcards .box1:hover::before {
    opacity: 1;
}

.solialcards .box1:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.solialcards .box2 {
    width: 50%;
    height: 50%;
    bottom: -35%;
    left: -35%;
    transition-delay: 0.2s;
}

.solialcards .box2::before {
    background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00acee 90%);
}

.solialcards .box2:hover::before {
    opacity: 1;
}

.solialcards .box2:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.solialcards .box3 {
    width: 30%;
    height: 30%;
    bottom: -20%;
    left: -20%;
    transition-delay: 0.4s;
}

.solialcards .box3::before {
    background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

.solialcards .box3:hover::before {
    opacity: 1;
}

.solialcards .box3:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.solialcards .box4 {
    width: 10%;
    height: 10%;
    bottom: -5%;
    left: -5%;
    transition-delay: 0.6s;
}

.solialcards .card:hover {
    transform: scale(1.1);
}

.solialcards .card:hover .box {
    bottom: -1px;
    left: -1px;
}

.solialcards .card:hover .logo {
    transform: translate(0, 0);
    bottom: 20px;
    right: 20px;
}


/* contact form */

.contact {
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: .5rem;
    align-items: center;
}

.contact form p {
    padding: .5rem 0;
    font-size: 1.7rem;
    color: #ffffff;
}

.contact form {
    flex: 1 1 50rem;
    border: 0.4rem solid rgba(238, 26, 26, 0);
    border-radius: .1em;
    padding: 2rem;
}

.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form .box,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    margin: .7rem 0;
    font-size: 1.7rem;
    border: .3rem solid rgba(255, 0, 0, 0.116);
    border-radius: .5rem;
    text-transform: none;
    color: #ffffff;
    background: transparent;
}

.contact form .inputBox input:hover,
.contact form .box:hover,
.contact form textarea:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.322);
}

.contact form .inputBox input {
    width: 49%;
}

.contact form textarea {
    height: 20rem;
    resize: none;
}


/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    body {
        padding: 1.5rem;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    #scrolling_text {
        font-size: 80%;
    }
}

/*
@media (max-width:768px) {

    #menu {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        font-size: 2.5rem;
        display: block;
        margin: 2rem 0;
        text-align: center;
    }

    .contact form .inputBox input {
        width: 100%;
    }

}*/

@media (max-width:400px) {

    html {
        font-size: 50%;
    }



}